
/* Bootstrap追加 */
.btn-sidebar { 
  color: #ffffff; 
  background-color: #919191; 
  border-color: #000000; 
} 
 
.btn..btn-sidebar:hover, 
.btn..btn-sidebar:focus, 
.btn..btn-sidebar:active, 
.btn..btn-sidebar.active, 
.open .dropdown-toggle.btn..btn-sidebar { 
  color: #ffffff; 
  background-color: #525252; 
  border-color: #000000; 
} 
 
.btn-sidebar:active, 
.btn-sidebar.active, 
.open .dropdown-toggle.btn-sidebar { 
  background-image: none; 
} 
 
.btn-sidebar.disabled, 
.btn-sidebar[disabled], 
fieldset[disabled] .btn-sidebar, 
.btn-sidebar.disabled:hover, 
.btn-sidebar[disabled]:hover, 
fieldset[disabled] .btn-sidebar:hover, 
.btn-sidebar.disabled:focus, 
.btn-sidebar[disabled]:focus, 
fieldset[disabled] .btn-sidebar:focus, 
.btn-sidebar.disabled:active, 
.btn-sidebar[disabled]:active, 
fieldset[disabled] .btn-sidebar:active, 
.btn-sidebar.disabled.active, 
.btn-sidebar[disabled].active, 
fieldset[disabled] .btn-sidebar.active { 
  background-color: #919191; 
  border-color: #000000; 
} 
 
.btn-sidebar .badge { 
  color: #919191; 
  background-color: #ffffff; 
}

.btn-sidebar a {
  color: #ffffff;
  text-decoration: none;
}
.btn-side {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-nav { 
  color: #FFFFFF; 
  background-color: #0A0A7D; 
  border-color: #0A0A7D; 
} 

.btn-nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.btn.btn-nav:hover, 
.btn.btn-nav:focus, 
.btn.btn-nav:active, 
.btn.btn-nav.active, 
.open .dropdown-toggle.btn.btn-nav { 
  color: #FFFFFF; 
  background-color: #4B00AD; 
  border-color: #0A0A7D; 
} 
 
.btn-nav:active, 
.btn-nav.active, 
.open .dropdown-toggle.btn-nav { 
  background-image: none; 
} 
 
.btn-nav.disabled, 
.btn-nav[disabled], 
fieldset[disabled] .btn-nav, 
.btn-nav.disabled:hover, 
.btn-nav[disabled]:hover, 
fieldset[disabled] .btn-nav:hover, 
.btn-nav.disabled:focus, 
.btn-nav[disabled]:focus, 
fieldset[disabled] .btn-nav:focus, 
.btn-nav.disabled:active, 
.btn-nav[disabled]:active, 
fieldset[disabled] .btn-nav:active, 
.btn-nav.disabled.active, 
.btn-nav[disabled].active, 
fieldset[disabled] .btn-nav.active { 
  background-color: #0A0A7D; 
  border-color: #0A0A7D; 
} 

.btn-active { 
  color: #000000; 
  background-color: #FFFFFF; 
  border: 1px solid #000000; 
} 
 
.btn.btn-active:hover, 
.btn.btn-active:focus, 
.btn.btn-active:active, 
.btn.btn-active.active, 
.open .dropdown-toggle.btn.btn-active { 
  color: #000000; 
  background-color: #FFFFFF; 
  border-color: #000000; 
} 
 
.btn-active:active, 
.btn-active.active, 
.open .dropdown-toggle.btn-active { 
  background-image: none; 
} 
 
.btn-active.disabled, 
.btn-active[disabled], 
fieldset[disabled] .btn-active, 
.btn-active.disabled:hover, 
.btn-active[disabled]:hover, 
fieldset[disabled] .btn-active:hover, 
.btn-active.disabled:focus, 
.btn-active[disabled]:focus, 
fieldset[disabled] .btn-active:focus, 
.btn-active.disabled:active, 
.btn-active[disabled]:active, 
fieldset[disabled] .btn-active:active, 
.btn-active.disabled.active, 
.btn-active[disabled].active, 
fieldset[disabled] .btn-active.active { 
  background-color: #FFFFFF; 
  border-color: #000000; 
} 
 
.btn-active .badge { 
  color: #FFFFFF; 
  background-color: #000000; 
}

.btn-nav {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #000000;
border-radius: 4px;
}

.nav-pills > li.active-nav > a,
.nav-pills > li.active-nav > a:hover,
.nav-pills > li.active-nav > a:focus {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.alert-error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.alert-error h4 {
  margin-top: 0;
  color: inherit;
}
.alert-error .alert-error-link {
  font-weight: bold;
}
.alert-error > p,
.alert-error > ul {
  margin-bottom: 0;
}
.alert-error > p + p {
  margin-top: 5px;
}


  /*　サイドバー　*/
.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  /*background: rgba(0, 0, 0, 0.45);*/
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
.alt-table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}
.glay {
  background-color:#DCDCDC;
  /*color:#FFFFFF;*/
}