    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<!--<script type="text/javascript" src="/system/js/jquery.js" ></script>-->
		<script type="text/javascript" src="/system/css/bootstrap/js/bootstrap.js" ></script>
    <script type="text/javascript" src="/system/js/loading.js"></script>
