    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="title" content="<?php echo SITENAME ?> WEB SYSTEM" />
    <meta name="language" content="ja" />
    <meta name="robots" content="index,nofollow" />
    <meta name="copyright" content="Your company" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?php echo SITENAME ?> WEB SYSTEM</title>
    <link rel="stylesheet" type="text/css" href="/system/css/default.css">
    <link rel="stylesheet" type="text/css" href="/system/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/system/css/module.css">
    <link rel="stylesheet" type="text/css" href="/system/css/base.css">
    <link rel="stylesheet" type="text/css" href="/system/css/link.css">
    <link rel="stylesheet" type="text/css" href="/system/css/system.css">
    <link rel="stylesheet" type="text/css" href="/system/css/addition.css">
    <link rel="stylesheet" type="text/css" href="/system/css/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/system/css/font-awesome/css/font-awesome.min.css" media="all">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="/system/js/css3-mediaqueries.js"></script>
      <script src="/system/js/html5shiv.min.js"></script>
      <script src="/system/js/respond.min.js"></script>
    <![endif]-->
