				<div class="row">
            <div class="col-md-3"><?php echo SITENAME ?> WEB SYSTEM</div>
            <div class="col-md-9 text-right">
              <?php echo $_SESSION['auth_admin']['today'] ?>（<?php echo $_SESSION['auth_admin']['weekday'] ?>）&nbsp;&nbsp;<?php echo $_SESSION['auth_admin']['login_name'] ?>さんがログインしています&nbsp;
              <a href="<?php echo MYSELF ?>?logout=1" class="btn btn-default btn-xs" style="margin-top: -2px;"><span class="fa fa-sign-out"></span>ログアウト</a>
            </div>

        		<div id="logo"></div>
        </div>
