  <div class="mini-submenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div class="list-group">
    <span href="#" class="list-group-item active">
      カテゴリ
      <span class="pull-right" id="slide-submenu"></span>
    </span>
<?php if (($_SESSION['auth_admin']['type'] == 1)):?>
    <a href="category.php" class="list-group-item">店舗カテゴリ</a>
<?php endif?>
<?php if (($_SESSION['auth_admin']['type'] == 1)):?>
    <a href="tag.php" class="list-group-item">タグ情報一覧</a>
<?php endif ?>
<?php if (($_SESSION['auth_admin']['type'] == 1)):?>
    <a href="category.php" class="list-group-item">カテゴリ登録</a>
<?php endif ?>
  </div>

  <div class="list-group">
    <span href="#" class="list-group-item active">
      カメラマン
      <span class="pull-right" id="slide-submenu"></span>
    </span>
    <a href="photographer.php" class="list-group-item">カメラマン管理</a>
  </div>


  <div class="list-group">
    <span href="#" class="list-group-item active">
      ブログ
      <span class="pull-right" id="slide-submenu"></span>
    </span>
    <a href="blog.php" class="list-group-item">ブログ管理</a>
  </div>


  <div class="list-group">
    <span href="#" class="list-group-item active">
      アカウント
      <span class="pull-right" id="slide-submenu"></span>
    </span>
    <a href="password.php" class="list-group-item">アカウント管理</a>
  </div>