/* Welcome to Compass. Use this file to write IE specific override styles.
* Import this file using the following HTML or equivalent:
* <!--[if IE]>
*   <link href="/css/contents.css" media="screen, projection" rel="stylesheet" type="text/css" />
* <![endif]--> */
/* line 12, ../sass/component.scss */
.center {
  text-align: center !important;
}

/* line 15, ../sass/component.scss */
.left {
  text-align: left !important;
}

/* line 18, ../sass/component.scss */
.right {
  text-align: right !important;
}

/* line 21, ../sass/component.scss */
.top0 {
  margin-top: 0 !important;
}

/* line 24, ../sass/component.scss */
.top5 {
  margin-top: 5px !important;
}

/* line 27, ../sass/component.scss */
.top10 {
  margin-top: 10px !important;
}

/* line 30, ../sass/component.scss */
.top15 {
  margin-top: 15px !important;
}

/* line 33, ../sass/component.scss */
.top20 {
  margin-top: 20px !important;
}

/* line 36, ../sass/component.scss */
.top25 {
  margin-top: 25px !important;
}

/* line 39, ../sass/component.scss */
.top30 {
  margin-top: 30px !important;
}

/* line 42, ../sass/component.scss */
.top35 {
  margin-top: 35px !important;
}

/* line 45, ../sass/component.scss */
.top40 {
  margin-top: 40px !important;
}

/* line 48, ../sass/component.scss */
.btm0 {
  margin-bottom: 0 !important;
}

/* line 51, ../sass/component.scss */
.btm5 {
  margin-bottom: 5px !important;
}

/* line 54, ../sass/component.scss */
.btm10 {
  margin-bottom: 10px !important;
}

/* line 57, ../sass/component.scss */
.btm15 {
  margin-bottom: 15px !important;
}

/* line 60, ../sass/component.scss */
.btm20 {
  margin-bottom: 20px !important;
}

/* line 63, ../sass/component.scss */
.btm25 {
  margin-bottom: 25px !important;
}

/* line 66, ../sass/component.scss */
.btm30 {
  margin-bottom: 30px !important;
}

/* line 69, ../sass/component.scss */
.btm35 {
  margin-bottom: 35px !important;
}

/* line 72, ../sass/component.scss */
.btm40 {
  margin-bottom: 40px !important;
}

/* line 75, ../sass/component.scss */
.btm45 {
  margin-bottom: 45px !important;
}

/* line 78, ../sass/component.scss */
.btm50 {
  margin-bottom: 50px !important;
}

/* line 81, ../sass/component.scss */
.btm55 {
  margin-bottom: 55px !important;
}

/* line 84, ../sass/component.scss */
.btm60 {
  margin-bottom: 60px !important;
}

/* line 87, ../sass/component.scss */
.btm65 {
  margin-bottom: 65px !important;
}

/* line 90, ../sass/component.scss */
.btm70 {
  margin-bottom: 70px !important;
}

/* line 93, ../sass/component.scss */
.btm75 {
  margin-bottom: 75px !important;
}

/* line 96, ../sass/component.scss */
.btm80 {
  margin-bottom: 80px !important;
}

/* line 99, ../sass/component.scss */
.btm85 {
  margin-bottom: 85px !important;
}

/* line 102, ../sass/component.scss */
.btm90 {
  margin-bottom: 90px !important;
}

/* line 105, ../sass/component.scss */
.btm95 {
  margin-bottom: 90px !important;
}

/* line 108, ../sass/component.scss */
.pT0 {
  padding-top: 0 !important;
}

/* line 111, ../sass/component.scss */
.pT5 {
  padding-top: 5px !important;
}

/* line 114, ../sass/component.scss */
.pT10 {
  padding-top: 10px !important;
}

/* line 117, ../sass/component.scss */
.pT15 {
  padding-top: 15px !important;
}

/* line 120, ../sass/component.scss */
.pT20 {
  padding-top: 20px !important;
}

/* line 123, ../sass/component.scss */
.pT25 {
  padding-top: 25px !important;
}

/* line 126, ../sass/component.scss */
.pT30 {
  padding-top: 30px !important;
}

/* line 129, ../sass/component.scss */
.pT35 {
  padding-top: 35px !important;
}

/* line 132, ../sass/component.scss */
.pT40 {
  padding-top: 40px !important;
}

/* line 135, ../sass/component.scss */
.pT45 {
  padding-top: 45px !important;
}

/* line 138, ../sass/component.scss */
.pB0 {
  padding-bottom: 0 !important;
}

/* line 141, ../sass/component.scss */
.pB5 {
  padding-bottom: 5px !important;
}

/* line 144, ../sass/component.scss */
.pB10 {
  padding-bottom: 10px !important;
}

/* line 147, ../sass/component.scss */
.pB15 {
  padding-bottom: 15px !important;
}

/* line 150, ../sass/component.scss */
.pB20 {
  padding-bottom: 20px !important;
}

/* line 153, ../sass/component.scss */
.lm5 {
  margin-left: 5px !important;
}

/* line 156, ../sass/component.scss */
.lm10 {
  margin-left: 10px !important;
}

/* line 159, ../sass/component.scss */
.lm15 {
  margin-left: 15px !important;
}

/* line 162, ../sass/component.scss */
.lm20 {
  margin-left: 20px !important;
}

/* line 165, ../sass/component.scss */
.lm50 {
  margin-left: 50px !important;
}

/* line 168, ../sass/component.scss */
.lm60 {
  margin-left: 60px !important;
}

/* line 171, ../sass/component.scss */
.lm70 {
  margin-left: 70px !important;
}

/* line 174, ../sass/component.scss */
.rm5 {
  margin-right: 5px !important;
}

/* line 177, ../sass/component.scss */
.rm10 {
  margin-right: 10px !important;
}

/* line 180, ../sass/component.scss */
.rm15 {
  margin-right: 15px !important;
}

/* line 183, ../sass/component.scss */
.rm20 {
  margin-right: 20px !important;
}

/* line 186, ../sass/component.scss */
.vAT {
  vertical-align: top !important;
}

/* line 189, ../sass/component.scss */
.vAM {
  vertical-align: middle !important;
}

/* line 192, ../sass/component.scss */
.vAB {
  vertical-align: bottom !important;
}

/* line 195, ../sass/component.scss */
.size10 {
  font-size: 57% !important;
  line-height: 1.3 !important;
}

/* line 199, ../sass/component.scss */
.size11 {
  font-size: 65% !important;
  line-height: 1.3 !important;
}

/* line 203, ../sass/component.scss */
.size12 {
  font-size: 70% !important;
  line-height: 1.3 !important;
}

/* line 207, ../sass/component.scss */
.size13 {
  font-size: 77% !important;
  line-height: 1.3 !important;
}

/* line 211, ../sass/component.scss */
.size14 {
  font-size: 85% !important;
}

/* line 214, ../sass/component.scss */
.size15 {
  font-size: 93% !important;
}

/* line 217, ../sass/component.scss */
.size16 {
  font-size: 100% !important;
}

/* line 220, ../sass/component.scss */
.size17 {
  font-size: 116% !important;
}

/* line 223, ../sass/component.scss */
.size18 {
  font-size: 123.1% !important;
}

/* line 226, ../sass/component.scss */
.size19 {
  font-size: 131% !important;
}

/* line 229, ../sass/component.scss */
.size20 {
  font-size: 138.5% !important;
}

/* line 232, ../sass/component.scss */
.size21 {
  font-size: 146.5% !important;
}

/* line 235, ../sass/component.scss */
.size22 {
  font-size: 153.9% !important;
}

/* line 238, ../sass/component.scss */
.size23 {
  font-size: 161.6% !important;
}

/* line 241, ../sass/component.scss */
.size24 {
  font-size: 167% !important;
}

/* line 244, ../sass/component.scss */
.red {
  color: #a30107;
}

/* line 247, ../sass/component.scss */
.org {
  color: #EB5F00;
}

/* line 250, ../sass/component.scss */
.bold {
  font-weight: bold;
}

/* line 253, ../sass/component.scss */
.normal {
  font-weight: normal;
}

/* line 256, ../sass/component.scss */
.icon {
  margin-right: 3px;
  vertical-align: middle;
  margin-top: -1px;
}

/* line 261, ../sass/component.scss */
.f_l {
  float: left !important;
}

/* line 264, ../sass/component.scss */
.f_r {
  float: right !important;
}

/* line 267, ../sass/component.scss */
.clearfix:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  font-size: 0.1em;
  line-height: 0;
  visibility: hidden;
}

/* line 276, ../sass/component.scss */
.clearfix {
  display: inline-block;
  min-height: 1%;
  clear: both;
}

/* Hides from IE-mac \*/
/* line 282, ../sass/component.scss */
* html .clearfix {
  height: 1%;
}

/* line 285, ../sass/component.scss */
a {
  text-decoration: none;
  color: #444;
}

/* line 289, ../sass/component.scss */
a:hover {
  text-decoration: underline;
}

/* line 292, ../sass/component.scss */
* {
  color: #444;
}

/* End hide from IE-mac */
/* line 297, ../sass/component.scss */
.pra {
  position: relative;
}

/* line 300, ../sass/component.scss */
.li14 {
  line-height: 120% !important;
}

/* line 303, ../sass/component.scss */
.t_orange {
  background: #ff6c00;
  padding: 2px 7px;
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

/* line 314, ../sass/component.scss */
.f10_2 {
  color: #555555;
  font-size: 86% !important;
}

/*header---------------------------------------*/
