@charset "UTF-8";
/* Welcome to Compass. Use this file to write IE specific override styles.
* Import this file using the following HTML or equivalent:
* <!--[if IE]>
*   <link href="/css/contents.css" media="screen, projection" rel="stylesheet" type="text/css" />
* <![endif]--> */
/* line 12, ../sass/contents.scss */
.clearfix:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  font-size: 0.1em;
  line-height: 0;
  visibility: hidden;
}

/* line 21, ../sass/contents.scss */
.clearfix {
  display: inline-block;
  min-height: 1%;
}

/* Hides from IE-mac \*/
/* line 26, ../sass/contents.scss */
* html .clearfix {
  height: 1%;
}

/* End hide from IE-mac */
/* line 31, ../sass/contents.scss */
html, body {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  background-color: #eee;
}

/*header--------------------------------------*/
/* line 37, ../sass/contents.scss */
header {
  height: 60px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
/* line 45, ../sass/contents.scss */
header #header_in {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 49, ../sass/contents.scss */
header #header_in h1 {
  padding-top: 19px;
  float: left;
}
/* line 53, ../sass/contents.scss */
header #header_in nav {
  float: right;
  /*width:652px;*/
  width: 218px;
}
/* line 57, ../sass/contents.scss */
header #header_in nav ul {
  /*width:652px;*/
  width: 218px;
  overflow: hidden;
}
/* line 61, ../sass/contents.scss */
header #header_in nav ul li {
  /* width:326px;*/
  width: 218px;
  float: left;
  height: 60px;
}
/* line 66, ../sass/contents.scss */
header #header_in nav ul li a {
  display: block;
  /*width:326px;*/
  width: 218px;
  height: 60px;
  overflow: hidden;
  position: relative;
}
/* line 73, ../sass/contents.scss */
header #header_in nav ul li a img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* line 79, ../sass/contents.scss */
header #header_in nav ul li a img:hover {
  position: absolute;
  overflow: hidden;
  top: -60px;
  left: 0;
}

/*/header--------------------------------------*/
/*nav_area-------------------------------------*/
/* line 95, ../sass/contents.scss */
#nav_area {
  position: fixed;
  left: 20px;
  top: 50%;
  margin-top: -80px;
  z-index: 90;
}
/* line 102, ../sass/contents.scss */
#nav_area ul li {
  margin-bottom: 10px;
}
/* line 104, ../sass/contents.scss */
#nav_area ul li a {
  display: block;
  width: 14px;
  height: 14px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: #ddd;
}
/* line 111, ../sass/contents.scss */
#nav_area ul li a.current {
  background-color: #ff7e00;
}

/*/nav_area*/
/*btn_area-------------------------------------*/
/* line 121, ../sass/contents.scss */
#btn_area {
  position: fixed;
  width: 288px;
  bottom: 338px;
  left: 20px;
  z-index: 50;
}
/* line 127, ../sass/contents.scss */
#btn_area ul {
  width: 278px;
  position: relative;
}
/* line 130, ../sass/contents.scss */
#btn_area ul li {
  position: absolute;
  z-index: +1;
}
/* line 134, ../sass/contents.scss */
#btn_area ul li#b01 {
  left: 0;
  top: 0px;
}
/* line 138, ../sass/contents.scss */
#btn_area ul li#b02 {
  left: 139px;
  top: 0px;
}
/* line 142, ../sass/contents.scss */
#btn_area ul li#b03 {
  left: 0;
  top: 139px;
}
/* line 146, ../sass/contents.scss */
#btn_area ul li#b04 {
  left: 139px;
  top: 139px;
}

/*/btn_area--------------------------------------*/
/*main_area--------------------------------------*/
/* line 156, ../sass/contents.scss */
article#spe_area {
  width: 100%;
  height: 100%;
  background-color: #eee;
}

/* line 161, ../sass/contents.scss */
p#yajirushi01 {
  cursor: pointer;
  position: fixed;
  left: 50%;
  bottom: 50px;
  margin-left: -54px;
  z-index: 9999;
}

/* line 168, ../sass/contents.scss */
#main_area {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 90;
}
/* line 175, ../sass/contents.scss */
#main_area p#batsu01 {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -376px;
  margin-left: -376px;
  z-index: 1;
}
/* line 183, ../sass/contents.scss */
#main_area p#batsu01.move01 {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  -ms-animation: spin 3s linear infinite;
  -o-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
/* line 188, ../sass/contents.scss */
#main_area p#batsu01.move02 {
  -webkit-animation: spin 3s linear 1;
  -moz-animation: spin 3s linear 1;
  -ms-animation: spin 3s linear 1;
  -o-animation: spin 3s linear 1;
  animation: spin 3s linear 1;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 213, ../sass/contents.scss */
#main_area p#md01 {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -130px;
  margin-left: -301px;
  z-index: 4;
}
/* line 221, ../sass/contents.scss */
#main_area p#md02 {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: 130px;
  margin-left: -373px;
  z-index: 5;
}
/* line 229, ../sass/contents.scss */
#main_area p#md03 {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: 130px;
  margin-left: -373px;
  z-index: 5;
}
/* line 237, ../sass/contents.scss */
#main_area p#main01 {
  /*position: absolute;*/
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: left;
  z-index: 2;
  position: fixed;
}
/* line 246, ../sass/contents.scss */
#main_area p#main01 img {
  height: 100%;
  vertical-align: bottom;
}
@media screen and (max-width: 1680px) {
  /* line 255, ../sass/contents.scss */
  #main_area p#main01 {
    left: -300px;
  }
}
/* line 260, ../sass/contents.scss */
#main_area p#main02 {
  /*position: absolute;*/
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: right;
  z-index: 1;
  position: fixed;
}
/* line 269, ../sass/contents.scss */
#main_area p#main02 img {
  height: 100%;
  vertical-align: bottom;
}
@media screen and (max-width: 1680px) {
  /* line 276, ../sass/contents.scss */
  #main_area p#main02 {
    right: -300px;
  }
}

/* line 281, ../sass/contents.scss */
section#top {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 92;
  /*background-color: #eee;*/
  /*p#k_04, p#k_02, p#k_03 {
  	opacity:0;
  }*/
  /*p#t_02, p#t_03, p#t_04 {
  	display: none;
  }*/
}
/* line 287, ../sass/contents.scss */
section#top #txt_area {
  position: relative;
  padding-bottom: 900px;
  padding-top: 1400px;
  width: 1000px;
  margin: 0 auto;
  z-index: 99;
  top: 20%;
}
/* line 295, ../sass/contents.scss */
section#top #txt_area p.waku01 {
  font-size: 20px;
  /*font-weight: bold;*/
  text-align: center;
  line-height: 170%;
  margin-bottom: 60px;
 font-family: "Times New Roman", "游明朝", YuMincho,"Hiragino Mincho ProN","HG明朝E","MS PMincho",  Meiryo, serif;
  font-size: 210%;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 0px #fff;
}
/* line 306, ../sass/contents.scss */
section#top #top_in {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
/* line 315, ../sass/contents.scss */
section#top p#k_01, section#top p#k_02, section#top p#k_03, section#top p#k_04 {
  position: absolute;
  right: -200px;
  top: 0;
  z-index: 2;
  height: 100%;
  text-align: right;
  width: 100%;
  opacity: 0;
  /*display:none;*/
}
/* line 325, ../sass/contents.scss */
section#top p#k_01 img, section#top p#k_02 img, section#top p#k_03 img, section#top p#k_04 img {
  height: 100%;
}
/* line 332, ../sass/contents.scss */
section#top p#t_01, section#top p#t_02, section#top p#t_03, section#top p#t_04 {
  position: absolute;
  left: -200px;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
}
/* line 340, ../sass/contents.scss */
section#top p#t_01 img, section#top p#t_02 img, section#top p#t_03 img, section#top p#t_04 img {
  height: 100%;
}

/*/main_area-------------------------------------*/
/* line 354, ../sass/contents.scss */
div#last01 {
  width: 100%;
  height: 100%;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 98;
}
/* line 363, ../sass/contents.scss */
div#last01 p#last_m01 {
  /*position: absolute;*/
  top: 0;
  left: 50%;
  margin-left: -750px;
  height: 100%;
  width: 100%;
  text-align: left;
  z-index: 2;
  position: fixed;
}
/* line 373, ../sass/contents.scss */
div#last01 p#last_m01 img {
  height: 100%;
  vertical-align: bottom;
}
/* line 378, ../sass/contents.scss */
div#last01 p#last_m02 {
  /*position: absolute;*/
  top: 0;
  right: 50%;
  margin-right: -750px;
  height: 100%;
  width: 100%;
  text-align: right;
  z-index: 1;
  position: fixed;
}
/* line 388, ../sass/contents.scss */
div#last01 p#last_m02 img {
  height: 100%;
  vertical-align: bottom;
}
/* line 393, ../sass/contents.scss */
div#last01 p#last_txt {
  position: absolute;
  left: 50%;
  /*margin-left:-481px;*/
  margin-left: -521px;
  z-index: 5;
  bottom: 200px;
  text-align: center;
}
/* line 401, ../sass/contents.scss */
div#last01 p#last_txt a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 10px;
  width: 150px;
  height: 150px;
  /*margin:0 auto;*/
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  background: #1d4078;
  color: #fff;
  text-align: center;
}
/* line 410, ../sass/contents.scss */
div#last01 p#last_txt a span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #fff;
  padding-top: 70px;
}
/* line 414, ../sass/contents.scss */
div#last01 p#last_txt img.tt {
  display: block;
  margin-bottom: 15px;
}

/* line 421, ../sass/contents.scss */
#loader {
  width: 204px;
  height: 342px;
  display: none;
  position: fixed;
  _position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -102px;
  margin-left: -171px;
  z-index: 999999;
}
/* line 432, ../sass/contents.scss */
#loader img.lo01 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 439, ../sass/contents.scss */
#fade {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #ccc;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999998;
}

/* line 449, ../sass/contents.scss */
.swing {
  -moz-animation: swing linear 3s infinite;
  -moz-transform-origin: 43px 43px 0;
  -webkit-animation: swing linear 3s infinite;
  -webkit-transform-origin: 43px 43px 0;
  -ms-animation: swing linear 3s infinite;
  -ms-transform-origin: 43px 43px 0;
  -o-animation: swing linear 3s infinite;
  -o-transform-origin: 43px 43px 0;
  animation: swing linear 3s infinite;
  transform-origin: 43px 43px 0;
  display: block;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 6px;
  margin-top: -188px;
}

/* line 471, ../sass/contents.scss */
.swing:after {
  z-index: 0;
  border-bottom: none;
  border-right: none;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

/* line 482, ../sass/contents.scss */
.swing:before {
  z-index: 5;
  position: absolute;
}

@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(60deg);
  }
  50% {
    -moz-transform: rotate(0deg);
  }
  75% {
    -moz-transform: rotate(-60deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(60deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-o-keyframes swing {
  0% {
    -o-transform: rotate(0deg);
  }
  25% {
    -o-transform: rotate(60deg);
  }
  50% {
    -o-transform: rotate(0deg);
  }
  75% {
    -o-transform: rotate(-60deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes swing {
  0% {
    -ms-transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(60deg);
  }
  50% {
    -ms-transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(-60deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* line 523, ../sass/contents.scss */
.swing01 {
  -moz-animation: swing01 linear 3s infinite;
  -moz-transform-origin: 38px 38px 0;
  -webkit-animation: swing01 linear 3s infinite;
  -webkit-transform-origin: 38px 38px 0;
  -ms-animation: swing01 linear 3s infinite;
  -ms-transform-origin: 38px 38px 0;
  -o-animation: swing01 linear 3s infinite;
  -o-transform-origin: 38px 38px 0;
  animation: swing01 linear 3s infinite;
  transform-origin: 38px 38px 0;
  display: block;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 30px;
  margin-top: -170px;
}

/* line 545, ../sass/contents.scss */
.swing01:after {
  z-index: 0;
  border-bottom: none;
  border-right: none;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
}

/* line 556, ../sass/contents.scss */
.swing01:before {
  z-index: 5;
  position: absolute;
}

@-moz-keyframes swing01 {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(-60deg);
  }
  50% {
    -moz-transform: rotate(0deg);
  }
  75% {
    -moz-transform: rotate(60deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes swing01 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-60deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-o-keyframes swing01 {
  0% {
    -o-transform: rotate(0deg);
  }
  25% {
    -o-transform: rotate(-60deg);
  }
  50% {
    -o-transform: rotate(0deg);
  }
  75% {
    -o-transform: rotate(60deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes swing01 {
  0% {
    -ms-transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(-60deg);
  }
  50% {
    -ms-transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(60deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes swing01 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* line 598, ../sass/contents.scss */
.lo_txt {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: 16px;
  z-index: 10;
}

/*percent-------------------------------------------------------------*/
/* line 608, ../sass/contents.scss */
.percent_block {
  position: fixed;
  width: 100%;
  /*padding: 20px 5%;*/
  /*padding-top:60px;*/
  text-align: center;
  /*background-color: #f5f5f5;*/
  z-index: 99999;
  bottom: 0;
}

/* line 618, ../sass/contents.scss */
.percent_text {
  font-size: 20px;
  margin-bottom: 10px;
  position: fixed;
  right: 50px;
  bottom: 10px;
  z-index: 99999;
}

/* line 626, ../sass/contents.scss */
.percent_text span {
  font-size: 30px;
  font-family: 'Homenaje', sans-serif;
}

/* line 630, ../sass/contents.scss */
.percent_bar {
  width: 0%;
  height: 5px;
  text-align: center;
  background-color: #183569;
}

/*loading----------------------------------------------------------------*/
