@charset "UTF-8";
/* Welcome to Compass. Use this file to write IE specific override styles.
* Import this file using the following HTML or equivalent:
* <!--[if IE]>
*   <link href="/css/contents.css" media="screen, projection" rel="stylesheet" type="text/css" />
* <![endif]--> */
/* line 12, ../sass/contents02.scss */
.clearfix:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  font-size: 0.1em;
  line-height: 0;
  visibility: hidden;
}

/* line 21, ../sass/contents02.scss */
.clearfix {
  display: inline-block;
  min-height: 1%;
}

/* Hides from IE-mac \*/
/* line 26, ../sass/contents02.scss */
* html .clearfix {
  height: 1%;
}

/* End hide from IE-mac */
/* line 31, ../sass/contents02.scss */
html, body {
  background-color: #eee;
}

/*header--------------------------------------*/
/* line 35, ../sass/contents02.scss */
header {
  height: 60px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
/* line 43, ../sass/contents02.scss */
header #header_in {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 47, ../sass/contents02.scss */
header #header_in h1 {
  padding-top: 19px;
  float: left;
}
/* line 51, ../sass/contents02.scss */
header #header_in nav {
  float: right;
  /*width:652px;*/
  width: 218px;
}
/* line 55, ../sass/contents02.scss */
header #header_in nav ul {
  /*width:652px;*/
  width: 218px;
  overflow: hidden;
}
/* line 59, ../sass/contents02.scss */
header #header_in nav ul li {
  /* width:326px;*/
  width: 218px;
  float: left;
  height: 60px;
}
/* line 64, ../sass/contents02.scss */
header #header_in nav ul li a {
  display: block;
  /*width:326px;*/
  width: 218px;
  height: 60px;
  overflow: hidden;
  position: relative;
}
/* line 71, ../sass/contents02.scss */
header #header_in nav ul li a img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* line 77, ../sass/contents02.scss */
header #header_in nav ul li a img:hover {
  position: absolute;
  overflow: hidden;
  top: -60px;
  left: 0;
}

/*/header--------------------------------------*/
/* line 91, ../sass/contents02.scss */
#all {
  padding-top: 80px;
  min-height: 750px;
}
/* line 94, ../sass/contents02.scss */
#all #all_in {
  width: 1000px;
  margin: 0 auto 50px;
}
/* line 99, ../sass/contents02.scss */
#all #all_in #pan_area {
  width: 1000px;
  margin: 0 auto 27px;
}
/* line 103, ../sass/contents02.scss */
#all #all_in #pan_area ul li {
  float: left;
  margin-right: 10px;
  font-size: 92%;
}
/* line 107, ../sass/contents02.scss */
#all #all_in #pan_area ul li span {
  color: #3f5c8f;
}
/* line 110, ../sass/contents02.scss */
#all #all_in #pan_area ul li a:hover {
  text-decoration: none;
}
/* line 113, ../sass/contents02.scss */
#all #all_in #pan_area ul li a {
  text-decoration: underline;
}

/*-------------------------------------------*/
/*txt_area------------------------------------*/
/* line 127, ../sass/contents02.scss */
section.txt_area * {
  line-height: 160%;
}
/* line 129, ../sass/contents02.scss */
section.txt_area a {
  text-decoration: underline;
  color: #3f5c8f;
}
/* line 132, ../sass/contents02.scss */
section.txt_area a:hover {
  text-decoration: none;
  color: #3f5c8f;
}

/*/txt_area-----------------------------------*/
/*footer---------------------------------------*/
/* line 142, ../sass/contents02.scss */
footer {
  width: 100%;
  background: url(../image/border01.gif) repeat-x left top;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 92%;
}

/*/footer--------------------------------------*/
/*main------------------------------------------*/
/* line 158, ../sass/contents02.scss */
#main #n_list {
  width: 1000px;
  margin-bottom: 60px;
}
/* line 161, ../sass/contents02.scss */
#main #n_list ul {
  width: 1000px;
  overflow: hidden;
}
/* line 164, ../sass/contents02.scss */
#main #n_list ul li.last {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
/* line 168, ../sass/contents02.scss */
#main #n_list ul li {
  width: 1000px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: dotted 1px #ccc;
}
/* line 174, ../sass/contents02.scss */
#main #n_list ul li a {
  width: 850px;
  float: right;
  display: block;
}
/* line 178, ../sass/contents02.scss */
#main #n_list ul li span {
  width: 100px;
  float: left;
  display: block;
  padding-left: 25px;
  background: url(../../news/image/yajirushi01.gif) no-repeat 7px 5px;
  font-weight: bold;
  color: #1d3359;
}
/* line 188, ../sass/contents02.scss */
#main h2 {
  margin-bottom: 30px;
}

/* line 191, ../sass/contents02.scss */
.navi {
  text-align: center;
  width: 702px;
  margin: 0 auto 20px;
  font-size: 108%;
}

/* line 1331, ../sass/component.scss */
/* line 199, ../sass/contents02.scss */
.navi a, .navi strong {
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  min-width: 27px;
  min-height: 30px;
  text-align: center;
  padding: 9px 7px 0px;
  margin-right: 5px;
  background: #fff;
  border: solid 1px #ccc;
}

/* line 214, ../sass/contents02.scss */
.navi a.kiji {
  margin-right: 50px;
}

/* line 219, ../sass/contents02.scss */
.navi a.kiji02 {
  font-size: 86%;
}

/* line 224, ../sass/contents02.scss */
.navi strong {
  background-color: #1d3359;
  color: #fff;
}

/* line 230, ../sass/contents02.scss */
.navi a {
  background-color: #fff;
  color: #000;
  margin-bottom: 5px;
}

/* line 237, ../sass/contents02.scss */
.navi a:hover {
  background-color: #999;
  color: #fff;
}

/*/main*/
/*txt_area-------------------------------------*/
/* line 250, ../sass/contents02.scss */
#t_area {
  border-bottom: 5px solid #8593ab;
  padding-top: 10px;
  padding-bottom: 36px;
  margin-bottom: 40px;
  width: 1000px;
  position: relative;
}
/* line 257, ../sass/contents02.scss */
#t_area #p_list {
  right: 0;
  top: 5px;
  position: absolute;
}
/* line 262, ../sass/contents02.scss */
#t_area #p_list ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 264, ../sass/contents02.scss */
#t_area #p_list ul li a {
  width: 120px;
  border: solid 1px #ccc;
  display: block;
  text-align: center;
  font-size: 14px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 13px;
  background: #fff;
}
/* line 273, ../sass/contents02.scss */
#t_area #p_list ul li a.b001 {
  width: 120px;
  border: none;
  display: block;
  text-align: center;
  font-size: 14px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 13px;
  background: #1d3359;
  color: #fff;
}
/* line 283, ../sass/contents02.scss */
#t_area #p_list ul li a:hover {
  opacity: 0.8;
  text-decoration: none;
}
/* line 286, ../sass/contents02.scss */
#t_area h2 {
  font-size: 26px;
  letter-spacing: 0.2em;
  margin-bottom: 15px;
  line-height: 1.2;
  width: 500px;
  font-family: "Times New Roman",YuMincho,"Hiragino Mincho ProN","HG譏取悃E","MS PMincho",Meiryo,serif;
}

/* line 299, ../sass/contents02.scss */
body#txt_area {
  width: 1000px;
  margin: 10px;
}
/* line 302, ../sass/contents02.scss */
body#txt_area p, body#txt_area li {
  line-height: 1.6;
}
/* line 304, ../sass/contents02.scss */
body#txt_area * {
  margin-bottom: 15px;
}
/* line 307, ../sass/contents02.scss */
h3 {
  background: url(../image/bg_h3.gif) no-repeat left top #1d3359;
  padding: 22px 15px 17px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 316, ../sass/contents02.scss */
h4 {
  margin-bottom: 30px;
  background: url(../image/bg_h4.gif) no-repeat left top #fff;
  padding: 20px 15px 15px 15px;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  font-size: 17px;
  font-weight: bold;
}
/* line 325, ../sass/contents02.scss */
h5 {
  font-size: 17px;
  border-bottom: solid 2px #6b81a8;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 333, ../sass/contents02.scss */
body#txt_area table {
  width: 100%;
  margin-bottom: 30px;
  border-left: solid 2px #cccccc;
  border-top: solid 2px #cccccc;
  width: 100%;
}
/* line 341, ../sass/contents02.scss */
body#txt_area table th.md01 {
  background: #000;
  color: #fff;
  font-weight: bold;
}
/* line 347, ../sass/contents02.scss */
body#txt_area table th {
  background: #eaeaea;
  color: #444;
  /*text-align:center;*/
  font-weight: bold;
}
/* line 354, ../sass/contents02.scss */
body#txt_area table td {
  /*vertical-align:top;*/
  background: #fff;
}
/* line 358, ../sass/contents02.scss */
body#txt_area table th, body#txt_area table td {
  border-right: solid 2px #cccccc;
  border-bottom: solid 2px #cccccc;
  padding: 15px 15px;
}
/* line 364, ../sass/contents02.scss */
body#txt_area ol {
  margin-bottom: 30px;
}
/* line 368, ../sass/contents02.scss */
body#txt_area ol li {
  list-style: inside decimal;
  text-indent: -1.0em;
  padding-left: 1.0em;
  line-height: 150%;
  margin-bottom: 10px;
}
/* line 376, ../sass/contents02.scss */
body#txt_area ul {
  margin-bottom: 30px;
}
/* line 380, ../sass/contents02.scss */
body#txt_area ul li {
  list-style: inside disc;
  text-indent: -1.0em;
  padding-left: 1.0em;
  line-height: 150%;
  margin-bottom: 10px;
}

/* line 389, ../sass/contents02.scss */
ul#o_list01 {
  text-align: center;
}
/* line 391, ../sass/contents02.scss */
ul#o_list01 li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 393, ../sass/contents02.scss */
ul#o_list01 li a {
  width: 120px;
  /*border:solid 1px #ccc;*/
  display: block;
  text-align: center;
  font-size: 14px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 13px;
  background: #1d3359;
  color: #fff;
}
/* line 403, ../sass/contents02.scss */
ul#o_list01 li a.b001 {
  width: 120px;
  border: none;
  display: block;
  text-align: center;
  font-size: 14px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 13px;
  background: #1d3359;
  color: #fff;
}
/* line 413, ../sass/contents02.scss */
ul#o_list01 li a:hover {
  opacity: 0.8;
  text-decoration: none;
}

/*/txt_area------------------------------------*/
/*form*/
/* line 421, ../sass/contents02.scss */
.wS {
  padding: 3px;
  width: 300px;
  margin-bottom: 6px;
  border: solid 1px #ddd;
}

/* line 428, ../sass/contents02.scss */
.wS02 {
  padding: 3px;
  width: 60px;
  border: solid 1px #ddd;
}

/* line 434, ../sass/contents02.scss */
.wS04 {
  padding: 3px;
  width: 200px;
  border: solid 1px #ddd;
  margin-bottom: 6px;
}

/* line 441, ../sass/contents02.scss */
.wS03 {
  padding: 1px;
  width: 60px;
  margin-bottom: 6px;
}

/* line 447, ../sass/contents02.scss */
.imeOff {
  ime-mode: disabled;
}

/* line 451, ../sass/contents02.scss */
.imeOn {
  ime-mode: active;
}

/* line 455, ../sass/contents02.scss */
.wSS {
  padding: 3px;
  width: 50px;
  border: solid 1px #ddd;
  margin-bottom: 6px;
}

/* line 462, ../sass/contents02.scss */
.wSSS {
  padding: 3px;
  width: 100px;
  border: solid 1px #ddd;
  margin-bottom: 6px;
}

/* line 468, ../sass/contents02.scss */
.btm6 {
  margin-bottom: 6px;
}

/* line 471, ../sass/contents02.scss */
textarea {
  border: solid 1px #ddd;
  margin-bottom: 6px;
}

/* line 476, ../sass/contents02.scss */
.ta01 table tr th .f10 {
  color: #ff7e00;
}

/* line 479, ../sass/contents02.scss */
.f10_2 {
  color: #555555;
  font-size: 86% !important;
  margin-bottom: 10px;
}

/* line 485, ../sass/contents02.scss */
input.reset {
  border-style: none;
  text-align: center;
  font-size: 116%;
  color: #fff;
  font-weight: bold;
  background-color: #444;
  width: 237px;
  min-height: 30px;
  padding: 15px 0;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0px 10px;
}

/* line 510, ../sass/contents02.scss */
input.kakunin {
  border-style: none;
  text-align: center;
  font-size: 116%;
  color: #fff;
  font-weight: bold;
  background-color: #ff7e00;
  width: 237px;
  min-height: 30px;
  padding: 15px 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0px 10px;
}

/*input.kakunin:hover{
	background-color:#d4a4d9;
	}*/
/* line 1555, ../sass/component.scss */
/* line 536, ../sass/contents02.scss */
div.form_button {
  text-align: center;
}

/* line 541, ../sass/contents02.scss */
div.ta01 table {
  width: 100%;
  margin-bottom: 30px;
  border-left: solid 1px #cccccc;
  border-top: solid 1px #cccccc;
  width: 100%;
}
/* line 549, ../sass/contents02.scss */
div.ta01 table th.md01 {
  background: #000;
  color: #fff;
  font-weight: bold;
}
/* line 555, ../sass/contents02.scss */
div.ta01 table th {
  background: #eaeaea;
  color: #444;
  /*text-align:center;*/
  text-align: center;
  font-weight: bold;
}
/* line 563, ../sass/contents02.scss */
div.ta01 table td {
  /*vertical-align:top;*/
  background: #fff;
}
/* line 567, ../sass/contents02.scss */
div.ta01 table th, div.ta01 table td {
  border-right: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  padding: 15px 15px;
}

/*/form*/
