@charset "UTF-8";

/* Font Size For All IE */

body, h1, h2, h3, h4, h5, h6, pre, li, dt, dd, th, td, p {
font-size:16px;
}

.size10 { font-size:77%!important; line-height:140%!important; }
.size11 { font-size:85%!important; line-height:140%!important; }
.size12 { font-size:93%!important; line-height:140%!important; }
.size13 { font-size:100%!important; line-height:140%!important; }
.size14 { font-size:108%!important; }
.size15 { font-size:116%!important; }
.size16 { font-size:123.1%!important; }
.size17 { font-size:131%!important; }
.size18 { font-size:138.5%!important; }
.size19 { font-size:146.5%!important; }
.size20 { font-size:153.9%!important; }
.size21 { font-size:161.6%!important; }
.size22 { font-size:167%!important; }
.size23 { font-size:174%!important; }
.size24 { font-size:182%!important; }


#contents p {
	line-height:140%;
}

ul, ol {
	list-style-type:none;
}

ul li, ol li {
	line-height:140%;
}



