@charset "UTF-8";

/* Font Size For Modern Browser */

body, h1, h2, h3, h4, h5, h6, pre, li, dt, dd, th, td, p {
font-size:16px;
}

.size10 { font-size:57%!important; line-height:1.3!important; }
.size11 { font-size:65%!important; line-height:1.3!important; }
.size12 { font-size:70%!important; line-height:1.3!important; }
.size13 { font-size:77%!important; line-height:1.3!important; }
.size14 { font-size:85%!important; }
.size15 { font-size:93%!important; }
.size16 { font-size:100%!important; }
.size17 { font-size:116%!important; }
.size18 { font-size:123.1%!important; }
.size19 { font-size:131%!important; }
.size20 { font-size:138.5%!important; }
.size21 { font-size:146.5%!important; }
.size22 { font-size:153.9%!important; }
.size23 { font-size:161.6%!important; }
.size24 { font-size:167%!important; }


