/* Welcome to Compass. Use this file to write IE specific override styles.
* Import this file using the following HTML or equivalent:
* <!--[if IE]>
*   <link href="/css/contents.css" media="screen, projection" rel="stylesheet" type="text/css" />
* <![endif]--> */
/* line 12, ../sass/index.scss */
.clearfix:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  font-size: 0.1em;
  line-height: 0;
  visibility: hidden;
}

/* line 21, ../sass/index.scss */
.clearfix {
  display: inline-block;
  min-height: 1%;
}

/* Hides from IE-mac \*/
/* line 26, ../sass/index.scss */
* html .clearfix {
  height: 1%;
}

/* End hide from IE-mac */
/* line 31, ../sass/index.scss */
html, body {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}

/*header--------------------------------------*/
/* line 36, ../sass/index.scss */
header {
  height: 60px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
/* line 44, ../sass/index.scss */
header #header_in {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 48, ../sass/index.scss */
header #header_in h1 {
  padding-top: 19px;
  float: left;
}
/* line 52, ../sass/index.scss */
header #header_in nav {
  float: right;
  /*width:652px;*/
  width: 218px;
}
/* line 56, ../sass/index.scss */
header #header_in nav ul {
  /*width:652px;*/
  width: 218px;
  overflow: hidden;
}
/* line 60, ../sass/index.scss */
header #header_in nav ul li {
  /* width:326px;*/
  width: 218px;
  float: left;
  height: 60px;
}
/* line 65, ../sass/index.scss */
header #header_in nav ul li a {
  display: block;
  /*width:326px;*/
  width: 218px;
  height: 60px;
  overflow: hidden;
  position: relative;
}
/* line 72, ../sass/index.scss */
header #header_in nav ul li a img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* line 78, ../sass/index.scss */
header #header_in nav ul li a img:hover {
  position: absolute;
  overflow: hidden;
  top: -60px;
  left: 0;
}

/*/header--------------------------------------*/
/*footer--------------------------------------*/
/* line 95, ../sass/index.scss */
footer {
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  padding-top: 7px;
  left: 0;
  z-index: 99;
  background: #fff;
}
/* line 104, ../sass/index.scss */
footer #footer_in {
  padding: 0 15px;
}
/* line 106, ../sass/index.scss */
footer #footer_in p#btn001 {
  float: left;
  margin-right: 25px;
}
/* line 110, ../sass/index.scss */
footer #footer_in #news_area {
  float: left;
  width: 710px;
  padding-top: 3px;
}
/* line 114, ../sass/index.scss */
footer #footer_in #news_area h4 {
  float: left;
}
/* line 117, ../sass/index.scss */
footer #footer_in #news_area .ticker {
  /*width: 600px;*/
  text-align: left;
  padding-top: 4px;
  position: relative;
  overflow: hidden;
  height: 1em;
  width: 600px;
  float: left;
  padding-left: 20px;
}
/* line 129, ../sass/index.scss */
footer #footer_in #news_area .ticker ul {
  /*width: 100%;*/
  position: relative;
}
/* line 133, ../sass/index.scss */
footer #footer_in #news_area .ticker ul li {
  width: 100%;
  /*display: none;*/
}
/* line 136, ../sass/index.scss */
footer #footer_in #news_area .ticker ul li span {
  padding-right: 15px;
  font-weight: bold;
  color: #1f417d;
}
/* line 143, ../sass/index.scss */
footer #footer_in p#copy {
  float: right;
  font-size: 86%;
  padding-top: 6px;
}

/*/footer--------------------------------------*/
/*nav_area-------------------------------------*/
/* line 155, ../sass/index.scss */
#nav_area {
  position: fixed;
  left: 30px;
  top: 50%;
  margin-top: -80px;
  z-index: 90;
}
/* line 162, ../sass/index.scss */
#nav_area ul li {
  margin-bottom: 13px;
}
/* line 164, ../sass/index.scss */
#nav_area ul li a {
  display: block;
  width: 16px;
  height: 16px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 2px;
}
/* line 174, ../sass/index.scss */
#nav_area ul li a.current {
  background-color: #ff7e00;
}

/*/nav_area*/
/*btn_area-------------------------------------*/
/* line 184, ../sass/index.scss */
#btn_area {
  position: fixed;
  width: 288px;
  bottom: 338px;
  left: -100px;
  z-index: 50;
  opacity: 0;
}
/* line 191, ../sass/index.scss */
#btn_area ul {
  width: 278px;
  position: relative;
}
/* line 194, ../sass/index.scss */
#btn_area ul li {
  position: absolute;
  z-index: +1;
}
/* line 198, ../sass/index.scss */
#btn_area ul li#b01 {
  left: 0;
  top: 139px;
}
/* line 202, ../sass/index.scss */
#btn_area ul li#b02 {
  left: 0;
  top: 139px;
}
/* line 206, ../sass/index.scss */
#btn_area ul li#b03 {
  left: 0;
  top: 139px;
}
/* line 210, ../sass/index.scss */
#btn_area ul li#b04 {
  left: 0;
  top: 139px;
}

/*/btn_area--------------------------------------*/
/*main_area--------------------------------------*/
/* line 219, ../sass/index.scss */
#main_area {
  width: 100%;
  height: 100%;
  background: #fff;
  /*overflow:hidden;*/
}

/*/main_area--------------------------------------*/
/*first--------------------------------------*/
/* line 228, ../sass/index.scss */
#first {
  width: 100%;
  height: 1050px;
  background: #000;
  /*overflow:hidden;*/
}
/* line 232, ../sass/index.scss */
#first #first_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
/* line 241, ../sass/index.scss */
#first #first_in {
  width: 1017px;
  height: 1050px;
  position: relative;
  left: 50%;
  margin-left: -508px;
  z-index: 2;
  top: 0px;
  /*overflow:hidden;*/
}
/* line 254, ../sass/index.scss */
#first #first_in p#bg_txt01 {
  position: absolute;
  top: 220px;
  left: 50%;
  margin-left: -497px;
  opacity: 0;
}
/* line 261, ../sass/index.scss */
#first #first_in #main_txt {
  position: relative;
  left: 50%;
  margin-left: -508px;
  top: 287px;
  width: 1017px;
}
/* line 267, ../sass/index.scss */
#first #first_in #main_txt #head01 {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -450px;
  opacity: 0;
}
/* line 274, ../sass/index.scss */
#first #first_in #main_txt #txt_list {
  position: absolute;
  top: -110px;
  left: 50%;
  margin-left: -508px;
}
/* line 279, ../sass/index.scss */
#first #first_in #main_txt #txt_list li {
  height: 41px;
  opacity: 0;
  width: 0px;
  position: relative;
}
/* line 284, ../sass/index.scss */
#first #first_in #main_txt #txt_list li img {
  position: absolute;
  top: 0;
  left: 0;
}

/*/first--------------------------------------*/
/*second--------------------------------------*/
/* line 297, ../sass/index.scss */
#second {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  background: #ccc;
}
/* line 304, ../sass/index.scss */
#second #second_in {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 309, ../sass/index.scss */
#second #second_in div.com_box {
  position: absolute;
  right: -100px;
  bottom: 70px;
  z-index: 3;
  width: 650px;
  background: url(../../image/bg_bk.png) repeat left top;
  padding: 50px 30px 30px;
  opacity: 0;
}
/* line 318, ../sass/index.scss */
#second #second_in div.com_box h3 {
  margin-bottom: 15px;
}
/* line 321, ../sass/index.scss */
#second #second_in div.com_box p {
  font-size: 108%;
  color: #fff;
  line-height: 190%;
  padding-left: 8px;
}
/* line 328, ../sass/index.scss */
#second #second_in p.icon01 {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -204px;
  margin-top: 70px;
  top: 25%;
  opacity: 0;
}
/* line 337, ../sass/index.scss */
#second #second_in h2.md_head {
  position: absolute;
  left: 100px;
  top: -100px;
  z-index: 7;
  opacity: 0;
}
/* line 344, ../sass/index.scss */
#second #second_in .w_txt {
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 6;
  opacity: 0;
}
/* line 351, ../sass/index.scss */
#second #second_in .md_box {
  position: absolute;
  left: 200px;
  top: -550px;
  z-index: 5;
  opacity: 0;
}

/*/second--------------------------------------*/
/*third--------------------------------------*/
/* line 364, ../sass/index.scss */
#third {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
/* line 370, ../sass/index.scss */
#third #third_in {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 375, ../sass/index.scss */
#third #third_in div.com_box {
  position: absolute;
  width: 650px;
  right: 30px;
  bottom: 70px;
  z-index: 3;
  background: url(../../image/bg_bk.png) repeat left top;
  padding: 50px 30px 30px;
}
/* line 383, ../sass/index.scss */
#third #third_in div.com_box h3 {
  margin-bottom: 15px;
}
/* line 386, ../sass/index.scss */
#third #third_in div.com_box p {
  font-size: 108%;
  color: #fff;
  line-height: 190%;
  padding-left: 8px;
}
/* line 393, ../sass/index.scss */
#third #third_in p.icon01 {
  position: absolute;
  bottom: -300px;
  left: 50%;
  margin-left: -452px;
}
/* line 399, ../sass/index.scss */
#third #third_in h2.md_head {
  position: absolute;
  left: 20px;
  top: 80px;
  z-index: 7;
}
/* line 405, ../sass/index.scss */
#third #third_in .w_txt {
  position: absolute;
  left: 40px;
  top: 90px;
  z-index: 6;
}
/* line 411, ../sass/index.scss */
#third #third_in .md_box {
  position: absolute;
  left: -50px;
  top: -150px;
  z-index: 5;
}

/*/third--------------------------------------*/
/*fourth---------------------------------------*/
/* line 424, ../sass/index.scss */
#fourth {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
/* line 430, ../sass/index.scss */
#fourth #fourth_in {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 435, ../sass/index.scss */
#fourth #fourth_in div.com_box {
  position: absolute;
  right: 30px;
  bottom: 70px;
  width: 650px;
  z-index: 3;
  background: url(../../image/bg_bk.png) repeat left top;
  padding: 50px 30px 30px;
}
/* line 443, ../sass/index.scss */
#fourth #fourth_in div.com_box h3 {
  margin-bottom: 15px;
}
/* line 446, ../sass/index.scss */
#fourth #fourth_in div.com_box p {
  font-size: 108%;
  color: #fff;
  line-height: 190%;
  padding-left: 8px;
}
/* line 453, ../sass/index.scss */
#fourth #fourth_in p.icon01 {
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin-left: -250px;
}
/* line 458, ../sass/index.scss */
#fourth #fourth_in p.icon01 img {
  vertical-align: bottom;
}
/* line 461, ../sass/index.scss */
#fourth #fourth_in h2.md_head {
  position: absolute;
  left: 20px;
  top: 80px;
  z-index: 7;
}
/* line 467, ../sass/index.scss */
#fourth #fourth_in .w_txt {
  position: absolute;
  left: 40px;
  top: 90px;
  z-index: 6;
}
/* line 473, ../sass/index.scss */
#fourth #fourth_in .md_box {
  position: absolute;
  left: -50px;
  top: -150px;
  z-index: 5;
}

/*/fourth---------------------------------------*/
/*fifth---------------------------------------*/
/* line 484, ../sass/index.scss */
#fifth {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
/* line 490, ../sass/index.scss */
#fifth #fifth_in {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #eee;
}
/* line 496, ../sass/index.scss */
#fifth #fifth_in p#com01 {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -351px;
  margin-top: -150px;
  opacity: 0;
}
/* line 504, ../sass/index.scss */
#fifth #fifth_in p#com01 a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  /*margin:0 auto;*/
  -moz-border-radius: 85px;
  -webkit-border-radius: 85px;
  border-radius: 85px;
  background: #1d4078;
  color: #fff;
  text-align: center;
}
/* line 514, ../sass/index.scss */
#fifth #fifth_in p#com01 a span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 130%;
  color: #fff;
  padding-top: 65px;
}
/* line 519, ../sass/index.scss */
#fifth #fifth_in p#com01 img.tt {
  display: block;
  margin-bottom: 25px;
}
/* line 524, ../sass/index.scss */
#fifth #fifth_in div.com_box {
  position: absolute;
  width: 650px;
  right: 30px;
  bottom: 70px;
  z-index: 3;
  background: url(../../image/bg_bk.png) repeat left top;
  padding: 50px 30px 30px;
}
/* line 532, ../sass/index.scss */
#fifth #fifth_in div.com_box h3 {
  margin-bottom: 15px;
}
/* line 535, ../sass/index.scss */
#fifth #fifth_in div.com_box p {
  font-size: 108%;
  color: #fff;
  line-height: 190%;
  padding-left: 8px;
}
/* line 542, ../sass/index.scss */
#fifth #fifth_in p.icon01 {
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin-left: -250px;
}
/* line 548, ../sass/index.scss */
#fifth #fifth_in h2.md_head {
  position: absolute;
  left: 20px;
  top: 80px;
  z-index: 7;
}
/* line 554, ../sass/index.scss */
#fifth #fifth_in .w_txt {
  position: absolute;
  left: 40px;
  top: 90px;
  z-index: 6;
}
/* line 560, ../sass/index.scss */
#fifth #fifth_in .md_box {
  position: absolute;
  left: -50px;
  top: -150px;
  z-index: 5;
}

/*/fifth---------------------------------------*/
/* line 570, ../sass/index.scss */
#loader {
  width: 258px;
  height: 222px;
  /* display: none;*/
  position: fixed;
  _position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -156px;
  margin-left: -179px;
  z-index: 999999;
}
/* line 581, ../sass/index.scss */
#loader .lo_01 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -101px;
  margin-top: -40px;
  z-index: 2;
}
/* line 589, ../sass/index.scss */
#loader .lo_02 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 23px;
  margin-top: -50px;
  z-index: 3;
  opacity: 0;
}
/* line 598, ../sass/index.scss */
#loader .lo_mark {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 605, ../sass/index.scss */
#fade {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #eee;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999998;
}

/*percent-------------------------------------------------------------*/
/* line 617, ../sass/index.scss */
.percent_block {
  position: fixed;
  width: 100%;
  /*padding: 20px 5%;*/
  /*padding-top:60px;*/
  text-align: center;
  /*background-color: #f5f5f5;*/
  z-index: 99999;
  bottom: 0;
}

/* line 627, ../sass/index.scss */
.percent_text {
  font-size: 20px;
  margin-bottom: 10px;
  position: fixed;
  right: 50px;
  bottom: 10px;
  z-index: 99999;
}

/* line 635, ../sass/index.scss */
.percent_text span {
  font-size: 30px;
  font-family: 'Homenaje', sans-serif;
}

/* line 639, ../sass/index.scss */
.percent_bar {
  width: 0%;
  height: 5px;
  text-align: center;
  background-color: #b34345;
}

/*loading----------------------------------------------------------------*/
