/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.7.0
*/
body {
	color:#222222;
	font:16px Verdana,'メイリオ','Meiryo','ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','Osaka','ＭＳ Ｐゴシック',sans-serif;
	*font-size:small;
	*font:x-small;
}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/*YUI Font-size Adjustment
10px = 77%     11px = 85%   12px = 93%     13px = 100%
14px = 108%    15px = 116%    16px = 123.1%  17px = 131%
18px = 138.5%  19px = 146.5%  20px = 153.9%  21px = 161.6%
22px = 167%    23px = 174%    24px = 182%    25px = 189%
26px = 197%*/

body {
background: url(../cmn_img/bg_body.png) left top repeat-y;
font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif !important;
color:#333;
line-height:100%;
min-width:1000px;

position:relative;
}